# SMTP
# EMAIL_HOST=smtp.gmail.com
# EMAIL_HOST_USER=your_name@test.com
# EMAIL_HOST_PASSWORD=your_password
# EMAIL_PORT=587
# EMAIL_USE_TLS=True

# Domain name, used by caddy
DOMAIN_NAME=tpass.com

# General settings
DJANGO_READ_DOT_ENV_FILE=False
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=CHANGEME!!!
DJANGO_ALLOWED_HOSTS=.tpass.com

# AWS
# DJANGO_AWS_ACCESS_KEY_ID=
# DJANGO_AWS_SECRET_ACCESS_KEY=
# DJANGO_AWS_STORAGE_BUCKET_NAME=

# Security! Better to use DNS for this task, but you can use redirect
# DJANGO_SECURE_SSL_REDIRECT=False

# Sentry
# DJANGO_SENTRY_DSN=

# Django Cache
# REDIS_URL=redis://redis:6379
